# Prerequisites
*.d

# Test and temp directories
old/
opt/

# Raw data generated in results 
results/

# Test files
test/
bin/
# Build directories
build/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/CMakeFiles/
**/CMakeFiles/
*/CMakeCache.txt
*/CMakeOutput.log
*/CMakeError.log
*/CMakeScripts
*/CMakeTmp
*/CMakeLists.txt.user
*/cmake_install.cmake 
**/CMakeCache.txt
**/CMakeOutput.log
**/CMakeError.log
**/CMakeScripts
**/CMakeTmp
**/CMakeLists.txt.user
**/cmake_install.cmake 
report-figures.svg
.vscode/
